body {
  width: 100%;
  background-image: url('https://wallpaperaccess.com/full/16676.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  box-sizing:border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
