.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    transition: visibility 0s, opacity 1.5s linear;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 99999999;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: #bdc3c7;
    font-weight: 500;
    border-radius: 5px;
}

.modal-header {
    font-weight: 500;
    padding-bottom: 0.5rem;
    border-bottom: 0.1px solid black;
}
.modal-body {
    margin: 1rem 0;
}
.modal-footer {
    font-weight: 500;
    border-top: 0.1px solid black;
}