* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-image: url('https://i.vdoc.vn/data/image/2019/07/30/hoc-tap-15.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}