* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  width: 100%;
  /* background-image: url('https://i.vdoc.vn/data/image/2019/07/30/hoc-tap-15.jpg'); */
  background-color: #60a3bc;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

